In [1]:
import pandas as pd
import json
import csv

# pd.set_option('display.max_rows', 10)
# pd.set_option('display.max_columns', 10)

%autosave 20

Autosaving every 20 seconds

## Load Title File

In [77]:
!ls ../data

films-2020-07-01.json

In [3]:
data_path = '../data/films-2020-07-01.json'

In [4]:
# df = pd.read_json ('../data/films-2020-07-01.json')
# print(df.shape)

In [5]:
# %time
# import json
# import pandas as pd
# with open('../data/films-2020-07-01.json') as json_data:
#    # https://stackoverflow.com/a/21266043/5861873
#    data = json.load(json_data)
#    df = pd.json_normalize(data)
    
# print(df.shape)

In [6]:
# df.head()

In [7]:
%time
import json
import pandas as pd
with open(data_path) as json_data:
   # https://stackoverflow.com/a/41289913/5861873
   data = json.load(json_data)
   df = pd.DataFrame({'item': [x['item']['value'] for x in data], \
                      'title': [x['title']['value'] for x in data], \
                      'published': [x['published']['value'] for x in data]})

print(df.shape)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 10 µs
(63807, 3)

In [8]:
df.shape

(63807, 3)

In [9]:
df.head()

,item,title,published
0,http://www.wikidata.org/entity/Q4069062,The Arrest of a Pickpocket,1895-01-01T00:00:00Z
1,http://www.wikidata.org/entity/Q7168279,"Performing Animals; or, Skipping Dogs",1895-01-01T00:00:00Z
2,http://www.wikidata.org/entity/Q2819823,A Morning Alarm,1896-01-01T00:00:00Z
3,http://www.wikidata.org/entity/Q3326074,Mounted Police Charge,1896-01-01T00:00:00Z
4,http://www.wikidata.org/entity/Q3520164,The Burning Stable,1896-01-01T00:00:00Z

## Sanity Check

### null value

In [10]:
df.isnull().sum()

item         0
title        0
published    0
dtype: int64

### duplicates

In [11]:
# there are duplicate items and titles
print(df.shape[0])
print('\n')
print(df.nunique())

63807


item         63754
title        58083
published     7216
dtype: int64

In [12]:
df.groupby(['item'])['title'].count().sort_values(ascending=False).reset_index()

                                           item  title
0       http://www.wikidata.org/entity/Q6748375      3
1      http://www.wikidata.org/entity/Q20439354      3
2        http://www.wikidata.org/entity/Q501105      2
3       http://www.wikidata.org/entity/Q9358159      2
4      http://www.wikidata.org/entity/Q19365765      2
...                                         ...    ...
63749  http://www.wikidata.org/entity/Q54868306      1
63750  http://www.wikidata.org/entity/Q54868305      1
63751  http://www.wikidata.org/entity/Q54868300      1
63752  http://www.wikidata.org/entity/Q54868299      1
63753   http://www.wikidata.org/entity/Q1000094      1

[63754 rows x 2 columns]

#### same film can have different names (a.k.a)

In [39]:
df[df.item=='http://www.wikidata.org/entity/Q6748375']

,item,title,published
25415,http://www.wikidata.org/entity/Q6748375,island of the doomed,1967-01-01T00:00:00Z
25416,http://www.wikidata.org/entity/Q6748375,maneater of hydra,1967-01-01T00:00:00Z
25417,http://www.wikidata.org/entity/Q6748375,the blood suckers,1967-01-01T00:00:00Z

In [15]:
df[df.item=='http://www.wikidata.org/entity/Q20439354']

,item,title,published
26193,http://www.wikidata.org/entity/Q20439354,cry chicago,1969-09-22T00:00:00Z
26194,http://www.wikidata.org/entity/Q20439354,the mafia mob,1969-09-22T00:00:00Z
26195,http://www.wikidata.org/entity/Q20439354,the true story of frank mannata,1969-09-22T00:00:00Z

In [70]:
item_count = df.groupby(['item'])['title'].count().sort_values(ascending=False).reset_index()

In [76]:
print('{} film have duplicate titles'.format(item_count[item_count.title>1].shape[0]))

51 film have duplicate titles

In [14]:
# set all title values as lower cases
df['title'] = df['title'].str.lower()

In [58]:
df.head()

,item,title,published
0,http://www.wikidata.org/entity/Q4069062,the arrest of a pickpocket,1895-01-01T00:00:00Z
1,http://www.wikidata.org/entity/Q7168279,"performing animals; or, skipping dogs",1895-01-01T00:00:00Z
2,http://www.wikidata.org/entity/Q2819823,a morning alarm,1896-01-01T00:00:00Z
3,http://www.wikidata.org/entity/Q3326074,mounted police charge,1896-01-01T00:00:00Z
4,http://www.wikidata.org/entity/Q3520164,the burning stable,1896-01-01T00:00:00Z

In [41]:
df.groupby(['title'])['item'].count().sort_values(ascending=False).reset_index()

                       title  item
0               the outsider    10
1            treasure island    10
2       the three musketeers    10
3                       life     9
4                    exposed     8
...                      ...   ...
58035    splatter university     1
58036          splatter farm     1
58037         splatter beach     1
58038                 splash     1
58039  !women art revolution     1

[58040 rows x 2 columns]

#### different films can have the same name

In [18]:
df[df.title=='the outsider'].sort_values(by=['published'])

,item,title,published
1698,http://www.wikidata.org/entity/Q56279378,the outsider,1917-01-01T00:00:00Z
5754,http://www.wikidata.org/entity/Q7755697,the outsider,1926-01-01T00:00:00Z
8397,http://www.wikidata.org/entity/Q7755698,the outsider,1931-01-01T00:00:00Z
13609,http://www.wikidata.org/entity/Q7755699,the outsider,1939-01-01T00:00:00Z
23674,http://www.wikidata.org/entity/Q7755700,the outsider,1961-01-01T00:00:00Z
29954,http://www.wikidata.org/entity/Q16931670,the outsider,1980-01-01T00:00:00Z
45040,http://www.wikidata.org/entity/Q56274148,the outsider,2005-01-01T00:00:00Z
57121,http://www.wikidata.org/entity/Q14948583,the outsider,2014-02-07T00:00:00Z
59335,http://www.wikidata.org/entity/Q25111228,the outsider,2016-01-01T00:00:00Z
62403,http://www.wikidata.org/entity/Q23767815,the outsider,2018-03-09T00:00:00Z

In [87]:
df[df.title=='little women'].sort_values(by=['published'])

,item,title,published
1780,http://www.wikidata.org/entity/Q6652563,little women,1917-09-17T00:00:00Z
9877,http://www.wikidata.org/entity/Q195274,little women,1933-11-16T00:00:00Z
18657,http://www.wikidata.org/entity/Q1466426,little women,1949-03-10T00:00:00Z
36722,http://www.wikidata.org/entity/Q850522,little women,1994-12-21T00:00:00Z
62656,http://www.wikidata.org/entity/Q56241200,little women,2018-09-28T00:00:00Z
63560,http://www.wikidata.org/entity/Q56881140,little women,2019-12-25T00:00:00Z

In [61]:
title_count = df.groupby(['title'])['item'].count().sort_values(ascending=False).reset_index()

In [66]:
title_count[title_count.item==5]

                   title  item
36            black gold     5
37          resurrection     5
38   unfinished business     5
39               othello     5
40              evidence     5
..                   ...   ...
105               jigsaw     5
106      out of the blue     5
107         welcome home     5
108                shame     5
109            shakedown     5

[74 rows x 2 columns]

In [75]:
print('{} film titles have been used more than once'.format(title_count[title_count.item>1].shape[0]))

4226 film titles have been used more than once

## to be continued

In [95]:
hk_list = [title for title in df.title if 'hong kong' in title or 'hongkong' in title]
print(len(hk_list))
hk_list

17

['hong kong nights',
 'passage from hong kong',
 'escape from hong kong',
 'hong kong',
 'target hong kong',
 'flight to hong kong',
 'hong kong confidential',
 'ferry to hong kong',
 'the road to hong kong',
 'a countess from hong kong',
 'the man from hong kong',
 'crazy hong kong',
 'hong kong 97',
 'red trousers – the life of the hong kong stuntmen',
 "jackie chan's hong kong",
 'hong kong confidential',
 'already tomorrow in hong kong']

In [100]:
london_list = [title for title in df.title if 'london' in title]
print(len(london_list))

93

In [92]:
ny_list = [title for title in df.title if 'new york' in title or ' ny' in title or 'nyc' in title or 'newyork' in title]
print(len(ny_list))

103

In [82]:
boy_list = [title for title in df.title if 'boy' in title]
print(len(boy_list))
# boy_list

604

In [69]:
girl_list = [title for title in df.title if 'girl' in title]
print(len(girl_list))
# girl_list

880

In [46]:
[title for title in df.title if '500' in title]

['terror from the year 5000',
 'fireball 500',
 'transylvania 6-5000',
 'chuck e. cheese in the galaxy 5000',
 '500 years later',
 'troop 1500',
 '5000 miles',
 '9500 liberty',
 '(500) days of summer',
 '500 miles north',
 '7500',
 '1500 steps',
 '7500']

In [67]:
day_list = [title for title in df.title if 'day' in title]
len(day_list)

854

In [44]:
[title for title in df.title if 'apple' in title]

['the apple tree girl',
 'bitter apples',
 "adam's apple",
 "the devil's apple tree",
 'captain applejack',
 'aggie appleby maker of men',
 'three bites of the apple',
 'golden apples of the sun',
 'the apple',
 'meet the applegates',
 'god, sex & apple pie',
 'larryboy and the bad apple',
 'pineapple express',
 'red apples falling',
 'adams apples',
 'i love you, apple, i love you, orange',
 'appleseed alpha',
 'applesauce',
 'mapplethorpe: look at the pictures',
 'mapplethorpe']

In [43]:
[title for title in df.title if 'work' in title]

['the patchwork girl of oz',
 'monty works the wires',
 'the fast worker',
 "the girl who wouldn't work",
 'more pay, less work',
 'only saps work',
 'working girls',
 "temptation's workshop",
 'too busy to work',
 'the working man',
 'fast workers',
 'dirty work',
 'shoot the works',
 'danger – love at work',
 'we work again',
 'the man who could work miracles',
 'blondes at work',
 'night work',
 'too busy to work',
 'should husbands work?',
 'genius at work',
 "she's working her way through college",
 "all in a night's work",
 'the miracle worker',
 'afro-american work songs in a texas prison',
 'work is a four-letter word',
 'a clockwork orange',
 'the working girls',
 'network',
 'hardly working',
 'homework',
 "i'm almost not crazy: john cassavetes, the man and his work",
 'the works ep',
 'working girls',
 'killer workout',
 'waxwork',
 'working girl',
 'men at work',
 'h-2 worker',
 'waxwork ii: lost in time',
 'mani madhava chakyar: the master at work',
 'clockwork orgy',
 'clockwork mice',
 'this world, then the fireworks',
 'dirty work',
 'blood work',
 'i love your work',
 'the work and the story',
 'artworks',
 'jimmywork',
 'the work and the glory',
 "workingman's death",
 'the work and the glory: american zion',
 'what remains: the life and work of sally mann',
 'why wal-mart works; and why that drives some people c-r-a-z-y',
 'gonzo: the life and work of dr. hunter s. thompson',
 'whatever works',
 "jaffa, the orange's clockwork",
 'cameraman: the life and work of jack cardiff',
 'how democracy works now: twelve stories',
 'working girls',
 'joan rivers: a piece of work',
 'the social network',
 'the unfinished works of sean weathers',
 'bloodwork',
 'frameworks: images of a changing world',
 'the shark is still working',
 'not safe for work',
 'wwe workout series',
 'wetwork',
 'magician: the astonishing life and work of orson welles',
 'al quds - the workshop',
 'the future of work and death',
 'filmworker',
 'the work',
 'the workers cup',
 'working class boy',
 'write when you get work',
 'workplace politics',
 'wasp network']

In [36]:
[title for title in df.title if 'marriage' in title]

['the marriage of kitty',
 'an international marriage',
 'sold for marriage',
 'her marriage lines',
 'the marriage ring',
 'the marriage lie',
 'marriages are made',
 'the marriage price',
 'marriage for convenience',
 'the marriage of william ashe',
 'the mad marriage',
 'man-woman-marriage',
 'the marriage lines',
 'why announce your marriage?',
 'the marriage chance',
 'the marriage maker',
 'temporary marriage',
 'modern marriage',
 'the marriage circle',
 'so this is marriage?',
 'her marriage vow',
 'the marriage cheat',
 'greater than marriage',
 'if marriage fails',
 'marriage in transit',
 'the marriage whirl',
 'the mad marriage',
 'the marriage clause',
 'the marriage business',
 'marriage',
 'companionate marriage',
 'three-ring marriage',
 'marriage by contract',
 'spite marriage',
 'half marriage',
 'the marriage playground',
 'consolation marriage',
 'the marriage bond',
 'week-end marriage',
 'no marriage ties',
 'the marriage bargain',
 'my marriage',
 'brilliant marriage',
 'this marriage business',
 'marriage is a private affair',
 'the perfect marriage',
 'a modern marriage',
 'grounds for marriage',
 'the model and the marriage broker',
 'the marriage of figaro',
 'the marriage-go-round',
 'marriage lines',
 'marriage on the rocks',
 'how to save a marriage and ruin your life',
 'how to commit marriage',
 'the art of marriage',
 'the marriage of a young stockbroker',
 'group marriage',
 "a marriage: georgia o'keeffe and alfred stieglitz",
 'love, honor & obey: the last mafia marriage',
 'a rather english marriage',
 'the clandestine marriage',
 'child marriage',
 'the gay marriage thing',
 'every good marriage begins with tears',
 'a quiet little marriage',
 'love, wedding, marriage',
 'marriage retreat',
 'scenes from a gay marriage',
 'temptation: confessions of a marriage counselor',
 'a good marriage',
 'marriage 2.0',
 'the state of marriage',
 'marriage story']

In [32]:
[title for title in df.title if 'avengers' in title]

['the avengers',
 'the scavengers',
 'avengers of the reef',
 'scavengers',
 'the avengers',
 'ultimate avengers 2',
 'ultimate avengers',
 'next avengers: heroes of tomorrow',
 'avengers xxx – a porn parody',
 'the avengers',
 'avengers grimm',
 'avengers grimm: time wars',
 'bikini avengers',
 'avengers: age of ultron',
 'avengers 4',
 'avengers: infinity war',
 'avengers: endgame']

In [35]:
[title for title in df.title if 'star' in title]

["colonel custard's last stand",
 'star of the north',
 'graustark',
 'the white star',
 'the service star',
 'the star prince',
 'the light of western stars',
 'the street of seven stars',
 "tom's little star",
 'the dark star',
 'the polar star',
 'a fresh start',
 'the romance of a movie star',
 'frontier of the stars',
 'the river of stars',
 'stardust',
 'the custard cup',
 'the star dust trail',
 'graustark',
 'the light of western stars',
 'beverly of graustark',
 'stark love',
 'shooting stars',
 'lucky star',
 'stark mad',
 'the light of western stars',
 'the lone star ranger',
 'five star final',
 'the star witness',
 'the star reporter',
 'make me a star',
 'my lucky star',
 'the star packer',
 'star of midnight',
 'stars over broadway',
 'school for stars',
 'stars on parade',
 'the wagon and the star',
 'love letters of a star',
 'a star fell from heaven',
 'star for a night',
 'the cowboy star',
 'a star is born',
 'the plough and the stars',
 'pick a star',
 'calling all stars',
 'start cheering',
 'my lucky star',
 'star of the circus',
 'follow your star',
 'starlight over texas',
 'under western stars',
 'star reporter',
 'the star maker',
 'star dust',
 'the stars look down',
 'lone star raiders',
 'the light of western stars',
 'belle starr',
 'it started with eve',
 'he found a star',
 'under fiesta stars',
 'north from the lone star',
 'star spangled rhythm',
 'lone star ranger',
 'the lone star vigilantes',
 'stardust on the sage',
 'fires were started',
 'the north star',
 'thank your lucky stars',
 'the lone star trail',
 'stars on parade',
 'brenda starr, reporter',
 'give me the stars',
 'the way to the stars',
 'radio stars on parade',
 'tell it to a star',
 'stars over texas',
 'lone star moonlight',
 'riders of the lone star',
 'under california stars',
 "belle starr's daughter",
 'stars in my crown',
 'under mexicali stars',
 'shooting stars',
 'starlift',
 'night without stars',
 'stars and stripes forever',
 'the star',
 'lone star',
 'a great new star',
 'it started in paradise',
 'the stars are singing',
 'son of belle starr',
 'star of texas',
 'riders to the stars',
 'star of india',
 'star of my night',
 'a star is born',
 'man without a star',
 'the silver star',
 'star in the dust',
 'stars in your eyes',
 'the broken star',
 'the tin star',
 'marjorie morningstar',
 'it started with a kiss',
 'follow a star',
 'flaming star',
 'it started in naples',
 'i aim at the stars',
 'dog star man',
 'blaze starr goes nudist',
 'invasion of the star creatures',
 'stark fear',
 'the starfighters',
 'of stars and men',
 'movie star, american style or; lsd, i hate you',
 'four stars',
 'star!',
 'i start counting',
 'the fabulous bastard from chicago',
 'the southern star',
 'start the revolution without me',
 'a town called bastard',
 'star spangled girl',
 'the groundstar conspiracy',
 'jesus christ superstar',
 'and now the screaming starts!',
 'stardust',
 'lost in the stars',
 'dark star',
 'bugs bunny: superstar',
 'the bingo long traveling all-stars & motor kings',
 'a star is born',
 'starship invasions',
 'starsky and hutch on playboy island',
 'star wars',
 'star wars: episode iv – a new hope',
 'starcrash',
 'saga of a star world',
 'starhops',
 'star trek: planet of the titans',
 'north star: mark di suvero',
 'starting over',
 'star trek: the motion picture',
 'stardust memories',
 'battle beyond the stars',
 'the lucky star',
 'star wars: episode v – the empire strikes back',
 'starstruck',
 'starlet nights',
 'star trek ⅱ',
 'the star chamber',
 'star 80',
 'stark raving mad',
 'star wars episode vi: return of the jedi',
 'ziggy stardust and the spiders from mars',
 'firestarter',
 'starship',
 'starman',
 'john wycliffe: the morning star',
 'star trek iii: the search for spock',
 'the last starfighter',
 'revenge of the stolen stars',
 "i can't get started",
 'starwolf and the raiders 2',
 'hyper sapien: people from another star',
 'lovedolls superstar',
 'the christmas star',
 'fist of the north star',
 'star crystal',
 'star trek iv: the voyage home',
 'starlight hotel',
 'superstar: the karen carpenter story',
 'rupaul is: starbooty!',
 'bravestarr: the movie',
 'stars and bars',
 'deepstar six',
 'beyond the stars',
 'brenda starr',
 'charles manson superstar',
 'star quest',
 'star trek v: the final frontier',
 'in the shadow of the stars',
 'a star for two',
 'star trek vi: the undiscovered country',
 'star time',
 'mustard bath',
 'stargate',
 'the stars fell on henrietta',
 'fist of the north star',
 'frankie starlight',
 'north star',
 'lone star',
 'unhook the stars',
 'bastard out of carolina',
 'the evening star',
 'one tough bastard',
 'star portal',
 'star trek: first contact',
 'bastard',
 'star maps',
 'starquest ii',
 'starship troopers',
 'star kid',
 'starstruck',
 'bastards from the bush, a journey with bob ellis and les murray',
 'star hunter',
 'star trek: insurrection',
 'superstar',
 'battlestar galactica: the second coming',
 'the book of stars',
 'deep inside clint star',
 'star trek: hidden frontier',
 'shooting star',
 'stardom',
 'star wars gangsta rap',
 'superstar female serial killer',
 'startup.com',
 'rock star',
 'porn star: the legend of ron jeremy',
 'shining stars: the official story of earth, wind & fire',
 "star warp'd",
 'stark raving mad',
 'deadrockstar',
 'the star of christmas',
 'star wars: episode ii – attack of the clones',
 'star trek: nemesis',
 'dickie roberts: former child star',
 'starship troopers 2: hero of the federation',
 "bratz: starrin' & stylin'",
 'starkweather',
 'childstar',
 'saving star wars',
 'star spangled to death',
 'stardust: vignettes from the fringes of film industry',
 'starsky & hutch',
 'die you zombie bastards!',
 'bastards of the party',
 'confessions of an action star',
 'pornstar pets',
 'star wars: revelations',
 'star wars episode iii: revenge of the sith',
 'afrodite superstar',
 'starter for 10',
 'dick ho: asian male porn star',
 'starting out in the evening',
 'press start',
 'starrbooty',
 'the moon and the stars',
 'amateur porn star killer',
 'porn star zombies',
 'kim kardashian, superstar',
 'stardust',
 'stargate: the ark of truth',
 'stargate: continuum',
 'starship troopers 3: marauder',
 "cuttin' da mustard",
 'north starr',
 'telstar: the joe meek story',
 'bright star',
 'the men who stare at goats',
 'afghan star',
 'lucky bastard',
 'star quest: the odyssey',
 'stark raving black',
 'starsuckers',
 'this ain’t star trek xxx',
 'star trek',
 'star vehicle',
 'third star',
 'stargate: revolution',
 'dance star',
 'blackstar warrior',
 'grown up movie star',
 'five star day',
 "looney tunes super stars' bugs bunny: hare extraordinaire",
 'prankstar',
 'rising stars',
 "looney tunes super stars' daffy duck: frustrated fowl",
 "looney tunes super stars' foghorn leghorn & friends: barnyard bigmouth",
 "looney tunes super stars' tweety & sylvester: feline fwenzy",
 'bucky larson: born to be a star',
 'how to start a revolution',
 'mad bastards',
 "vance and pepe's porn start",
 'starting-up in america',
 'press start 2 continue',
 'lego star wars: the padawan menace',
 "looney tunes super stars' road runner and wile e. coyote: supergenius hijinks",
 'princess and the popstar',
 "looney tunes super stars' pepe le pew: zee best of zee best",
 'starship troopers: invasion',
 'big star: nothing can hurt me',
 'greedy lying bastards',
 'stars in shorts',
 'europe to the stars',
 'the startup kids',
 'plimpton! starring george plimpton as himself',
 'star wars xxx',
 'starlet',
 'lego star wars: the empire strikes out',
 "looney tunes super stars' porky & friends: hilarious ham",
 'beyond the farthest star',
 'my lucky star',
 'starred up',
 'the starving games',
 'lucky bastard',
 'dark around the stars',
 '20 feet from stardom',
 "looney tunes super stars' sylvester and hippety hopper: marsupial mayhem",
 'all stars',
 'star trek into darkness',
 'brightest star',
 'angels in stardust',
 'maps to the stars',
 'the battered bastards of baseball',
 'living stars',
 'starry eyes',
 'set fire to the stars',
 'a place in the stars',
 "dark star: h. r. giger's world",
 'a star is stillborn',
 'starcrossed',
 'starve',
 'starship: rising',
 'starship: apocalypse',
 'morning star irha (morning star shine)',
 'plastic galaxy: the story of star wars toys',
 'starting over again',
 'star wars: threads of destiny',
 'the fault in our stars',
 'bloodsucking bastards',
 'the heyday of the insensitive bastards',
 'star trek: renegades',
 'star leaf',
 'star wars: evolution of the lightsaber duel',
 'star wars: a gay xxx parody',
 'popstar: never stop never stopping',
 'bright lights: starring carrie fisher and debbie reynolds',
 'generation startup',
 'a christmas star',
 'star trek beyond',
 'roulette stars of metro detroit',
 'barbie: star light adventure',
 'starfish',
 'rogue one: a star wars story',
 "film stars don't die in liverpool",
 'dustards',
 'starship troopers: traitor of mars',
 'teenage superstars',
 'frat star',
 'starting 5',
 'star raiders: the adventures of saber raine',
 'what we started',
 'secret superstar',
 'just getting started',
 'star wars: the last jedi',
 'pup star: world tour',
 'stargate origins: catherine',
 'better start running',
 'star wars: the dark resurgence',
 'solo: a star wars story',
 'a star is born',
 'puppy star christmas',
 'the sun is also a star',
 'all-star weekend',
 'violent starr',
 'to the stars',
 'upstarts',
 'star wars: the rise of skywalker',
 'barb and star go to vista del mar']